<link rel="stylesheet" type="text/css" href="/custom/css/quizz.css" />

<div class="ui container">
    <!-- Question 1 -->
    <div class="ui card question active">
        <div class="content">
            <div class="header">Twitter est un réseau social ne comportant aucun risque.</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Chaque réseau social comporte son lot de dangers et de risques.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!--Question 2-->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je peux m'abonner à qui je veux sur Twitter. </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Tout comme Facebook, libre à vous de choisir quelles personnalités, quels divertissements, actualités
                                vous souhaitez suivre.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 3 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Mon profil est public, je peux refuser que quelqu'un s'abonne à moi. </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Si votre profil est public, vous ne pouvez pas empêcher quelqu'un de s'abonner à vous. Cependant,
                                si vous mettez vos tweets en mode protégé (votre profil sera alors protégé), vous avez la
                                possibilité de filtrer les demandes d'abonnement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 4 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Twitter est un réseau "plus dangereux" que Facebook ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Oui</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Non</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Twitter demande moins de données personnelles que Facebook, cependant les informations circulant
                                sur Twitter sont beaucoup moins vérifiées que sur Facebook. On peut donc parler d'un réseau
                                social "plus dangereux que Facebook". Il est plus souvent possible de tomber sur des tweets
                                racistes, ou non appropriés.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 5 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Comme Facebook, Twitter a 4 niveaux de partages ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Twitter n'a que 2 niveaux de partages : public ou protégé (seulement visible par vos abonnés).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 6 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Quel est le point commun avec facebook ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>L'étendue sur le net</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Les niveaux de partage</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>La possibilité de signaler un compte</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Comme pour Facebook, si vous pensez qu'un compte a été piraté, ou qu'il publie régulièrement
                                du contenu inapproprié, il est possible de le signaler à Twitter afin qu'il soit analysé.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 7 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Les photos visibles sur Twitter sont-elles visibles par tout le monde (même sans avoir de compte) ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Oui</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Non</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>En mode public, dès qu'une photo est tweetée, elle est visible n'importe où sur Twitter et sur
                                les moteurs de recherche. Donc même sans compte, il est possible de la retrouver.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 8 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">En mode public, si je m'abonne à quelqu'un sur Twitter, peut-il voir mes tweets ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Oui</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Non</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Si votre profil est public, n'importe qui peut le voir. Donc vos tweets sont visibles, et peuvent
                                être "aimés" ou "retweetés" par n'importe qui.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 9 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je viens de perdre mon téléphone, faut-il que je me recrée un compte Twitter ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Oui, c'est plus simple</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Non, je peux récuperer les données de mon compte</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il suffit de télécharger l'application Twitter sur votre nouveau smartphone, puis se connecter
                                à votre compte en rentrant vos identifiants (email et mot de passe). Une fois connecté, il
                                est préférable de changer votre mot de passe pour plus de sécurité.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 10 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Est-il possible de signaler une photo qui m'a été volée ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Oui</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Non</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il est possible de signaler une photo qui vous été volée, ou un contenu que vous n'avez pas approuvé.
                                Il faut se rendre sur une page dédiée au signalement : "Signaler une violation" et de remplir
                                un questionnaire pour détailler votre demande.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 11 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Comment bloquer des contenus indésirables dans un message privé ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>En supprimant les messages</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>En signalant les messages</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>En cliquant sur le message, vous pouvez le signaler, ce qui permet de signaler le compte de la
                                personne émettrice du message. Des justifications sont demandées pour chaque signalement
                                de message / tweet / compte.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 12 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Twitter fait apparaître mes photos sur Google, comment les cacher ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Je les supprime de mon compte Twitter</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Je​ passe mon tweet avec la photo en mode protégé</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Attention, si Google vous redirige sur Twitter pour voir la photo, il suffit de passer votre
                                compte en mode protégé et celle-ci ne sera plus visible sur Google. En revenche, si Google
                                vous oriente sur un autre site qui a utilisé votre photo (car elle a été publique), Twitter
                                n'est pas en mesure de pouvoir la supprimer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 13 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Les images douteuses sont censurées par Twitter.

            </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Contrairement à Facebook, il n'y a pas de censure sur ce réseau. En revanche, vous pouvez suivre
                                des instructions pour signaler un tweet. Un message d'avertissement y sera peut-être associé,
                                après vérification par Twitter.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <a href="/formations">
                <button class="ui right labeled icon button next positive">
                    <i class="right arrow icon"></i>
                    Retour aux formations
                </button>
            </a>
        </div>
    </div>
</div>

<script src="/custom/js/quizz.js"></script>