<link rel="stylesheet" type="text/css" href="/custom/css/quizz.css" />

<div class="ui container">
    <!-- Question 1 -->
    <div class="ui card question active">
        <div class="content">
            <div class="header">Facebook est un réseau social qui ne comporte aucun risque.</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>N’importe quel réseau social comporte des risques. Dès que l’on se connecte à Internet il faut
                                rester prudent.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 2 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Mon compte facebook, si je ne l’ai pas paramétré, est très peu sécurisé.</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il ne faut pas oublier d’aller souvent dans les paramètres de confidentialité pour vérifier que
                                tout vous convient. En effet, si vous n’avez jamais modifié vos paramètres, votre compte
                                est très peu sécurisé.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 3 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je ne change jamais mon mot de passe facebook car il est facile à retenir</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il est recommandé de changer son mot de passe au minimum tous les 6 mois. Le mot de passe ne
                                doit pas être ni trop court, ni trop simple. Pas de : 1234 ou AZERTY ou le prénom par exemple.
                                Le mot de passe idéal fait plus de 6 caractères, et contient un mélange de chiffres et de
                                lettres. Garder les initiales d’une phrase peut être un bon moyen d’obtenir un bon mot de
                                passe facile à retenir.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 4 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je ne dois pas donner mes identifiants de connexion facebook à mes amis</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il ne faut jamais communiquer ses identifiants à un inconnu, ni même à ses amis. Votre compte
                                facebook est personnel tout comme vos identifiants, personne d’autre que vous ne doit y avoir
                                accès
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 5 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je ne communique pas mes informations personnelles comme mon numéro de téléphone ou mon adresse postale sur des
                groupes ou des posts que je vois sur mon fil d’actualité</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il est dangereux de communiquer ses informations ouvertement. Le seul moment où vous pouvez
                                le faire c’est en message personnel à votre ami qui veut vous rendre visite par exemple
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 6 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">J’accepte toutes les invitations d’amis que je reçois sur Facebook</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Oui</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Non</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il n’est pas recommandé d’accepter toutes les invitations d’amis que vous recevez. Si vous ne
                                connaissez pas la personne et ou que vous n’avez pas d’amis en commun avec elle, supprimez
                                l’invitation
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 7 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Combien y a t il de niveaux de partages sur facebook ?</div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>2</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>3</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>4</label>
                            </div>
                        </div>
                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Comme vu dans la formation, il y a bien <b>4</b>​niveaux​ ​de​ ​partage​, du plus large au plus
                                précis : "<b>Public</b>", "<b>amis</b>", "<b>certains amis</b>" et "<b>moi seulement</b>".

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 8 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Le niveau de partage le moins sécurisé est celui où tout le monde peut voir ce que je publie
            </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Ce que vous publiez sera public et visible par n’importe quelle personne sur facebook. Attention
                                à ce que vous publiez dans ces cas là.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 9 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je me méfie des gens que je ne connais pas (ou peu) qui me demandent de cliquer sur des liens.
            </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il faut faire attention à ce genre de messages, il arrive souvent que ce soit des arnaques.
                                Avant de cliquer sur le lien, assurez vous bien que ça n’en soit pas une.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 10 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je suis victime de harcèlement sur facebook.
            </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Je réponds pour me défendre</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Je​ ​clique​ ​sur​ ​“signaler​ ​les​ ​messages”​ ​ou​ ​“bloquer​ ​la​ ​personne” qui​ ​me​ ​harcèle.
                                </label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Cela ne sert à rien de continuer de parler avec cette personne, elle n'arrêtera pas, il est préférable
                                de la “signaler” ou de la “bloquer”, pour que facebook prenne des mesures adéquates

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 11 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je peux donner mes coordonnées bancaires quand on me le demande ?
            </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Il ne faut jamais​ ​communiquer ses coordonnées bancaires sur facebook, dans aucune situation.
                                Signalez et bloquez toute personne vous demandant de l’argent et/ou vos coordonnées bancaires.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 12 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Je peux me connecter sans risque sur facebook avec un lien envoyé par e-mail.
            </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Une arnaque bien connue, le ‘’phishing’’ consiste à faire croire à l’utilisateur qu’il doit se
                                connecter sur facebook pour une raison qu’il inventera. Le site facebook est un faux, et
                                le but est de récupérer les identifiants de l’utilisateurs à des fins frauduleuses. Le vrai
                                site internet facebook est https://www.facebook.com. https veut dire que le site est sécurisé.
                                Il faut toujours vérifier que l’adresse du site de facebook contient ce https.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 13 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Les actualités sur facebook ne sont pas toujours fiables
            </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>Beaucoup de fausses informations circulent sur facebook. Pour éviter de partager une fausse information,
                                vérifiez que la source de celle-ci est un média (journal, tv, radio) connu.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <button class="ui right labeled icon button next positive">
                <i class="right arrow icon"></i>
                Suivant
            </button>
        </div>
    </div>
    <!-- Question 14 -->
    <div class="ui card question">
        <div class="content">
            <div class="header">Si un commentaire d’une publication extérieure m’insulte, je peux le supprimer.

            </div>
            <!--<div class="meta"></div> -->
            <div class="description question">
                <div class="ui form">
                    <div class="grouped fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="false" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Vrai</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input answer="true" type="radio" name="fruit" tabindex="0" class="hidden">
                                <label>Faux</label>
                            </div>
                        </div>

                        <div class="ui message">
                            <div class="header">Explications</div>
                            <p>C’est seulement l’auteur d’une publication ou d’un commentaire qui peut choisir de supprimer
                                des commentaires qui y répondent. En revanche, vous pouvez signaler le commentaire insultant
                                à facebook.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <button class="ui button check">Vérifier</button>
            <button class="ui right labeled icon button precedent yellow">
                <i class="left arrow icon"></i>
                Précedent
            </button>
            <a href="/formations">
                <button class="ui right labeled icon button next positive">
                    <i class="right arrow icon"></i>
                    Retour aux formations
                </button>
            </a>            
        </div>
    </div>
</div>

<script src="/custom/js/quizz.js"></script>