.ui.large.top.fixed.menu {
    min-height: 54px;
    margin-bottom: 54px;
}

.ui.inverted.vertical.footer.segment {
    min-height: 100px;
}

.pusher {
    padding-top: calc(54px + 5vh) !important;
    padding-bottom: calc(54px + 5vh) !important;
    min-height: calc(100vh - 100px) !important;
    position: relative !important;
    background: url("../images/hero_min.jpg") !important;
    box-shadow: inset 0 0 0 1000px rgba(51, 51, 63, 0.95);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.no-border {
    border: none !important;
}

#love {
    margin: 0 !important;
    height: auto !important;
    display: inline-block !important;
    color: #E91E63;
}

.horus-text {
    color: #4CAF50;
    transition: all 0.3s ease-in-out;
}

.horus-text:hover {
    color: rgb(92, 216, 96);
}

.card {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15) !important;
    border-radius: 2px !important;
    transition: all 0.35s ease-in;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4) !important;
    transform: scale(1.03) translateY(-3px);
}

.star {
    color: #ffb70a;
}

.student {
    color: #4CAF50;
}

.ui.basic.button {
    transition: all 0.15s ease-in;
}

.ui.basic.button.green:hover {
    background-color: #21ba45!important;
    color: #EFEFEF !important;
}

.ui.basic.button.red:hover {
    background-color: #db2828!important;
    color: #EFEFEF !important;
}

.ui.sidebar.menu {
    padding-top: 64px;
}

#particles {
    position: absolute;
    left: -100px;
    top: -100px;
    width: calc(100% + 200px);
    height: calc(100% + 200px);
}


/* fix menu sidebar */

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .large.top.fixed.menu .item,
    .large.top.fixed.menu .menu {
        display: none;
    }
    .large.top.fixed.menu .toc.item {
        display: block;
    }
}

.icon.rounded {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.09);
    min-width: 24px;
    min-height: 24px;
    vertical-align: middle;
    line-height: 24px;
}


/* ANIMATIONS */

.ui.container {
    animation: pageAppear 0.5s ease-in 0s 1 alternate;
}

.huge.green.circular.ui.icon.button {
    animation: appear 1.5s ease-in 0s 1 alternate !important;
}

@keyframes pageAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}