#particles-js canvas {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url("http://horus-hcs.fr/wp-content/uploads/2016/02/logo_1000x1000.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 5%;
    background-size: 13%;
    /*background: linear-gradient(#616166, #F8F8F8); /* Standard syntax */
}