    .ui.container {
        position: relative;
    }
    
    .ui.card.question {
        width: 80%;
        position: relative;
        margin-bottom: -350px !important;
        transition: all 0.4s ease-in-out;
        transform: translateX(100vw);
        min-height: 350px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4) !important;
        margin-top: 3px !important;
    }
    
    .ui.card .content {
        padding-left: 40px;
        padding-top: 40px;
    }
    
    .ui.card .ui.button.precedent {
        display: inline-block;
    }
    
    .ui.card .ui.message,
    .ui.card .ui.button.next {
        transition: all 0.2s ease-in;
        opacity: 0;
        display: inline-block;
        transform: scale(0);
    }
    
    .ui.card .ui.message.active,
    .ui.card .ui.button.next.active {
        opacity: 1;
        transform: scale(1);
    }
    
    .ui.card.question::after {
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0px;
        height: 200px;
        width: 200px;
        background-color: lime;
    }
    
    .ui.card.question.active {
        transform: translateX(0);
    }
    
    .disappear {
        opacity: 0;
    }