<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">A propos</h4>
                <div class="ui inverted link list">
                    <a href="mailto:contact@horus-hcs.fr" class="item">Nous contacter</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Formations</a>
                    <a href="#" class="item">Mon compte</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Made with <i id="love" class="heart icon"></i> by <a class="horus-text" href="http://horus-hcs.fr">Horus-HCS</a></h4>
            </div>
        </div>
    </div>
</div>