<!-- Following Menu -->
<div class="ui large top fixed menu">
    <div class="ui container">

        <!-- <img src="/custom/images/horus_logo_horiz.png" /> -->

        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a href="/" class="item">Accueil</a>
        {{#if currentUser}}
            <a href="/formations" class="item">Formations</a>
        {{/if}}
        {{#if currentUser.isAdmin}}
            <a href="/members" class="item">Membres</a>
        {{/if}}
        <div class="right menu">
            {{#if currentUser}}
                <div class="item">
                    <a href="/dashboard" class="ui icon button"><i class="user icon"></i> {{currentUser.firstname}} {{ currentUser.lastname }} </a>
                </div>
                <div class="item">
                    <a href="/logout" class="ui icon button">  <i class="power icon"></i> </a>
                </div>
            {{else}}
                <div class="item">
                    <a href="/signin" class="ui button">Connexion</a>
                </div>
                <div class="item">
                    <a href="/signup" class="ui primary button">Inscription</a>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a href="/" class="item">Accueil</a>
    {{#if currentUser}}
        <a href="/formations" class="item">Formations</a>
    {{/if}}
    {{#if currentUser.isAdmin}}
        <a href="/members" class="item">Membres</a>
    {{/if}}
    {{#if currentUser}}
        <div class="item">
            <a href="/dashboard" class="ui icon button"><i class="user icon"></i> {{currentUser.firstname}} {{ currentUser.lastname }} </a>
            <a href="/logout" class="ui icon button">  <i class="power icon"></i> </a>
        </div>
    {{else}}
        <div class="item">
            <a href="/signin" class="ui button">Connexion</a>
        </div>
        <div class="item">
            <a href="/signup" class="ui primary button">Inscription</a>
        </div>
    {{/if}}
</div>