<div class="ui container">
	<div class="ui message">
		<h1 class="ui huge header">
			Modifier votre compte
		</h1>
		<br>
		<form action="/user/edit/{{currentUser.id}}" method="post" class="ui form">
			<div class="field">
				<label>Prénom</label>
				<input type="text" name="firstname" placeholder="Prénom" value="{{currentUser.firstname}}">
			</div>
			<div class="field">
				<label>Nom</label>
				<input type="text" name="lastname" placeholder="Nom" value="{{currentUser.lastname}}">
			</div>
			<div class="field">
				<label>Nouveau mot de passe</label>
				<input type="password" name="newPassword" placeholder="Nouveau mot de passe">
			</div>
			<div class="field">
				<label>Confirmer votre nouveau mot de passe</label>
				<input type="password" name="confirmation" placeholder="Confirmation">
			</div>
			<div class="field">
				<label>Mot de passe actuel</label>
				<input type="password" name="password" placeholder="Mot de passe">
			</div>

			<button class="ui button" type="submit">Modifier</button>
		</form>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('.ui.dropdown').dropdown();
		$('.ui.accordion').accordion();

		// bind "hide and show vertical menu" event to top right icon button 
		$('.ui.toggle.button').click(function () {
			$('.ui.vertical.menu').toggle("250", "linear")
		});
	});

</script>