<link rel="stylesheet" href="custom/css/formation.css">

<div class="ui container">
    <div class="ui stackable three cards">
        {{#each formations}}
            <div class="card">
                <div class="content">
                    <i class="right floated icon {{this.categorie}}"></i>
                    <div class="header">
                        <a href="/formations/{{this.id}}">
                        {{this.nom}}
                        </a>
                    </div>
                    <div class="meta">
                        {{this.categorie}}
                    </div>
                    <div class="description">
                        {{this.description}}
                    </div>
                </div>

                <div class="extra content">
                    <div class="ui two buttons">

                        {{#if ../currentUser.isAdmin}}
                            <div class="ui basic green button" onclick="openEditFormation({{this.id}})">Modifier</div>

                            <a class="ui basic red button" data-method="delete" method="delete" href="/formation/destroy/{{this.id}}">Supprimer</a>
                        {{else}}
                            <a class="ui basic grey button" href="quizz/{{this.id}}">Quizz</a>
                            <a class="ui basic grey button" href="exercices/{{this.id}}">Exercice</a>

                            <!--<a href='/signin'>Sign In</a>
                            <a href='/signup'>Sign Up</a> -->
                        {{/if}}

                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    {{#if currentUser.isAdmin}}
        <div class="add_btn">
            <button class="huge green circular ui icon button" onclick="openModalFormation()">
            <i class="icon plus"></i>
            </button>
        </div>
    {{/if}}

    <!-- Modals -->
    <!-- Modal edit -->
    {{#each formations}}
        <div class="ui modal" id="editformation{{this.id}}">
            <i class="close icon" onclick="openEditFormation({{this.id}}).hide()"></i>
            <div class="header">
                Modifier la formation
            </div>
            <form action="/formations/edit/{{this.id}}" method="post" class="ui form">
                <div class="ui fluid input field">
                    <input name="nom" type="text" value="{{this.nom}}" id="nomFormation">
                </div>
                <div class="ui fluid input field">
                    <input name="description" type="text" value="{{this.description}}" id="descFormation">
                </div>
                <div class="ui fluid labeled input field">
                    <div class="ui label">
                        http://
                    </div>
                    <input name="url" type="text" value="{{this.url}}" id="urlFormation">
                </div>

                <div class="ui fluid selection dropdown field">
                    <input type="hidden" value="{{this.categorie}}" name="categorie" id="catFormation">
                    <i class="dropdown icon"></i>
                    <div class="default text"><i class="{{this.categorie}} icon"></i>{{this.categorie}}</div>
                    <div class="menu">
                        <div class="item" data-value="facebook">
                            <i class="facebook icon"></i> Facebook
                        </div>
                        <div class="item" data-value="twitter">
                            <i class="twitter icon"></i> Twitter
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui button">Cancel</div>
                    <button class="ui button" type="submit">OK</button>
                </div>
            </form>
        </div>
    {{/each}}
    <!-- Modal new -->
    <div class="ui modal" id="modalformation">
        <i class="close icon" onclick="openModalFormation().hide()"></i>
        <div class="header">
            Créer une formation
        </div>
        <form action="/formations" method="post" class="ui form" id="newForm">
            <!-- Nom -->
            <div class="ui fluid input field">
                <input name="nom" type="text" placeholder="Nom" id="nomFormation">
            </div>
            <!-- Description -->
            <div class="ui fluid input field">
                <input name="description" type="text" placeholder="Description" id="descFormation">
            </div>
            <!-- Url -->
            <div class="ui fluid labeled input field">
                <div class="ui label">
                    /formations
                </div>
                <input type="text" name="url" placeholder="form1" id="urlFormation">
            </div>
            <div class="ui fluid labeled input field">
                <div class="ui label">
                    /quizz
                </div>
                <input type="text" name="quizz" placeholder="quizz1" id="urlQuizz">
            </div>
            <div class="ui fluid labeled input field">
                <div class="ui label">
                    /exercices
                </div>
                <input type="text" name="exercice" placeholder="exo1" id="urlExercice">
            </div>
            <!-- Réseau social -->
            <div class="ui fluid selection dropdown field">
                <input type="hidden" name="categorie" id="catFormation">
                <i class="dropdown icon"></i>
                <div class="default text">Choisir le réseau social</div>
                <div class="menu">
                    <div class="item" data-value="facebook">
                        <i class="facebook icon"></i> Facebook
                    </div>
                    <div class="item" data-value="twitter">
                        <i class="twitter icon"></i> Twitter
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui button">Cancel</div>
                <button class="ui button" type="submit">OK</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('.ui.accordion').accordion();
        // bind "hide and show vertical menu" event to top right icon button 
        $('.ui.toggle.button').click(function () {
            $('.ui.vertical.menu').toggle("250", "linear")
        });
    });

    function openModalFormation() {
        $("#modalformation").modal('toggle');

    }

    function openEditFormation(id) {
        let selector = "#editformation" + id;
        $(selector).modal('toggle');
    }

    function createFormation() {
        $("#newForm").submit();
    }

    function deleteFormation() {
        $(".this").remove();
        console.log("oui");
    }

</script>