<link rel="stylesheet" href="custom/css/accueil.css">

<div id="hero" class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu no-border">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a href="/" class="item">Accueil</a>
            {{#if currentUser}}
                <a href="/formations" class="item">Formations</a>
                <a href="/members" class="item">Membres</a>
            {{/if}}
            <div class="right menu">
                {{#if currentUser}}
                    <div class="item">
                        <a href="/dashboard" class="ui icon button"><i class="user icon"></i> {{currentUser.firstname}} {{ currentUser.lastname }} </a>
                    </div>
                    <div class="item">
                        <a href="/logout" class="ui icon button">  <i class="power icon"></i> </a>
                    </div>
                {{else}}
                    <div class="item">
                        <a href="/signin" class="ui button">Connexion</a>
                    </div>
                    <div class="item">
                        <a href="/signup" class="ui primary button">Inscription</a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="ui text container">
        <h1 class="ui inverted header">
            Formations ESAT
        </h1>
        <h2>Bienvenue sur votre plateforme de formations</h2>
        <a href="/formations">
            <div class="ui huge primary button">Commencer<i class="right arrow icon"></i></div>
        </a>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Formation Facebook</h3>
                <p>Apprenez à vous protéger correctement sur Facebook, à sécuriser votre compte et à éviter les potentielles
                    arnaques que l'on peut trouver sur ce réseau social.</p>
                <h3 class="ui header">Formation Twitter</h3>
                <p>Comprendre le fonctionnement de Twitter et mettre en évidence les différences fondamentales avec Facebook.</p>
            </div>
            <div class="six wide right floated column">
                <img src="custom/images/social.png" class="ui large image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button" href="/formations">Lancer</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document)
        .ready(function () {

            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                });
        });

</script>