<div class="ui container">
    <div class="ui stackable three cards">
        {{#each users}}
            <div class="card">
                <div class="content">
                    {{#if this.isAdmin}}
                        <i class="right floated star icon rounded"></i>
                    {{else}}
                        <i class="right floated student icon rounded"></i>
                    {{/if}}
                    <div class="header">
                        {{this.firstname}} {{this.lastname}}
                    </div>
                    <div class="meta">
                        {{#if this.isAdmin}}
                            <span>Admin</span>
                        {{else}}
                            <span>Étudiant</span>
                        {{/if}}
                    </div>
                    <div class="description">
                        Email : {{this.email}} <br>
                    </div>
                </div>
                {{#if ../currentUser.isAdmin}}
                    <div class="extra content">
                        {{#if this.isAdmin}}
                            <a href="/user/{{this.id}}/downgrade"><button class="ui icon button"><i class="student icon"></i> Rétrograder</button></a>
                        {{else}}
                            <a href="/user/{{this.id}}/promote"><button class="ui icon button"><i class="star icon"></i> Promouvoir</button></a>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>

    <!--{{#if currentUser.isAdmin}}
        <div class="add_btn">
            <button class="huge green circular ui icon button" onclick="openModalFormation()">
            <i class="icon plus"></i>
            </button>
        </div>
    {{/if}} -->

    <!-- Modals -->
    <!-- Modal new -->
    <div class="ui modal" id="modalformation">
        <i class="close icon" onclick="openModalFormation().hide()"></i>
        <div class="header">
            Créer une formation
        </div>
        <form action="/formations" method="post" class="ui form" id="newForm">
            <!-- Nom -->
            <div class="ui fluid input field">
                <input name="nom" type="text" placeholder="Nom" id="nomFormation">
            </div>
            <!-- Description -->
            <div class="ui fluid input field">
                <input name="description" type="text" placeholder="Description" id="descFormation">
            </div>
            <!-- Url -->
            <div class="ui fluid labeled input field">
                <div class="ui label">
                    /formations
                </div>
                <input type="text" name="url" placeholder="form1" id="urlFormation">
            </div>
            <div class="ui fluid labeled input field">
                <div class="ui label">
                    /quizz
                </div>
                <input type="text" name="quizz" placeholder="quizz1" id="urlQuizz">
            </div>
            <div class="ui fluid labeled input field">
                <div class="ui label">
                    /exercices
                </div>
                <input type="text" name="exercice" placeholder="exo1" id="urlExercice">
            </div>
            <!-- Réseau social -->
            <div class="ui fluid selection dropdown field">
                <input type="hidden" name="categorie" id="catFormation">
                <i class="dropdown icon"></i>
                <div class="default text">Choisir le réseau social</div>
                <div class="menu">
                    <div class="item" data-value="facebook">
                        <i class="facebook icon"></i> Facebook
                    </div>
                    <div class="item" data-value="twitter">
                        <i class="twitter icon"></i> Twitter
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui button">Cancel</div>
                <button class="ui button" type="submit">OK</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('.ui.accordion').accordion();

        // bind "hide and show vertical menu" event to top right icon button 
        $('.ui.toggle.button').click(function () {
            $('.ui.vertical.menu').toggle("250", "linear")
        });
    });

</script>