<link rel="stylesheet" href="custom/css/sign.css">

<div id="particles"></div>

<div class="ui middle aligned center aligned grid">
  <div class="column">

    <form class="ui large form" id="signin" name="signup" method="post" action="/signup">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="Adresse e-mail">
          </div>

        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="firstname" placeholder="Prénom">
          </div>

        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="lastname" placeholder="Nom">
          </div>

        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Mot de Passe">
          </div>
        </div>
        <input class="ui fluid large teal submit button" type="submit" value="Valider" />

      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      Déjà inscrit : <a href="/signin">Identifiez vous</a>
    </div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="custom/js/app.js"></script>
<script>
  $(document)
    .ready(function () {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier: 'email',
              rules: [
                {
                  type: 'empty',
                  prompt: 'Please enter your e-mail'
                },
                {
                  type: 'email',
                  prompt: 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier: 'password',
              rules: [
                {
                  type: 'empty',
                  prompt: 'Please enter your password'
                },
                {
                  type: 'length[6]',
                  prompt: 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
        ;
    })
    ;

</script>