<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>ESAT - Formations</title>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/custom/css/app.css">
    <script src="/jquery/jquery.js"></script>
</head>

<body>
    {{> menu }}

    <div class="pusher">
        {{{body}}}
    </div>

    {{> footer }}

    <script src="/semantic/semantic.min.js"></script>
    <script>
        $(document)
            .ready(function () {
                $('.ui.sidebar').sidebar('attach events', '.toc.item');
                $('.ui.radio.checkbox').checkbox();
            });
    </script>
</body>

</html>